html, body {
  @extend .full-screen;
}

#needle-pane {
  @extend .inner-pane;

}
#haystack-pane {
  @extend .inner-pane;
}
.drag-info {
  width: 50%;
  text-align: center;

  margin: 0 auto;
  img {
    margin-bottom: 36px;
    width: 100%;
  }
  h2 {
    font-size: $h2-size;
    color: $type-gray;
    font-family: $mono-typeface;
  }
  h4 {
    font-size: $h4-size;
    color: $type-gray;
    font-family: $mono-typeface;
  }
}

.fs-compare-btn {
  position: fixed;
  z-index: 100;
  bottom: 10%;
  right:10%;
  .action-btn-round {
    width: 50px;
    height: 50px;
    background: $primary-red;
    border-radius: 100px;
    border: 2px #fff solid;
    box-shadow: 3px 3px 15px #ccc;
  }
}
