//background panel A
$gray: #D8D8D8;
$gray-darker-border: #787878;
$type-gray: rgba(101,101,101,0.57);
$type-blue: rgba(66,179,250,0.32);
$type-blue-darker: rgba(66,179,250,0.73);

//background panel B
$type-header-gray: rgba(101,101,101,0.94);
$type-light-gray: rgba(144,144,144,0.32);
$primary-red: #F45B5B;
$type-green: rgba(101,204,93,0.63);

//lines
$line-gray: rgba(151,151,151,0.16);

//type styles
$h1-size: 72px;
$h2-size: 36px;
$h3-size: 28px;
$p-size: 18px;


//family styles
$mono-typeface: 'Andale Mono', monospace;
$norm-typeface: 'Helvetica Neue', sans-serif;