html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

figure {
  position: relative; }

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle; }

.float-left, .grid-left-major, .grid-right-major {
  float: left;
  position: relative; }

.pos-r, .full-screen, .main-container, .inner-main-container, html, body {
  position: relative; }

.tall, .full-screen, .main-container, .inner-main-container, html, body, .grid-left-major, .inner-pane, #needle-pane, #haystack-pane {
  height: 100%; }

.full-screen, .main-container, .inner-main-container, html, body {
  width: 100%; }

.group:after, .full-screen:after, .main-container:after, .inner-main-container:after, html:after, body:after {
  content: "";
  display: table;
  clear: both; }

.parent-c {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-left-major {
  width: 60%;
  background-color: #D8D8D8; }

.grid-right-major {
  width: 40%; }

.main-container {
  padding: 36px; }

.inner-pane, #needle-pane, #haystack-pane {
  width: 50%;
  float: left;
  padding: 16px; }

.drag-info {
  width: 50%;
  text-align: center;
  margin: 0 auto; }
  .drag-info img {
    margin-bottom: 36px;
    width: 100%; }
  .drag-info h2 {
    font-size: 36px;
    color: rgba(101, 101, 101, 0.57);
    font-family: "Andale Mono", monospace; }

.fs-compare-btn {
  position: fixed;
  z-index: 100;
  bottom: 10%;
  right: 10%; }
  .fs-compare-btn .action-btn-round {
    width: 50px;
    height: 50px;
    background: #F45B5B;
    border-radius: 100px;
    border: 2px #fff solid;
    box-shadow: 3px 3px 15px #ccc; }
